<section
 fxLayout="row"
 fxLayoutAlign="center center">

    <mat-card fxFlex="25%">
        <mat-card-title-group>
            <mat-card-title>Register an Account</mat-card-title>
            <mat-card-subtitle>Enter the details below to create your Code-Quest account.</mat-card-subtitle>
        </mat-card-title-group>
        <mat-card-content>
            <form 
             class="registerform"
             (ngSubmit)="onSubmit()"
             
             fxLayout="column"
             fxLayoutAlign="center center">
                <mat-form-field>
                    <input matInput type="text" placeholder="Username" name="name" required ngModel="user.name">
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="email" placeholder="E-Mail" name="email" email required ngModel="user.email">
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="text" placeholder="Password" name="password" required ngModel="user.password">
                </mat-form-field>
                <button mat-flat-button color="primary" type="submit">Register</button>
            </form>
        </mat-card-content>
    </mat-card>

</section>