<mat-toolbar
 fxLayout="row"
 fxLayoutAlign="space-between center"
 
 fxLayout.lt-sm="column"
 fxLayoutAlign.lt-sm="center center"
 
 color="primary">
  <header>
    <span>Code-Quest</span>
  </header>
  <div
   fxLayout="row"
   fxLayoutAlign="center center"
   fxLayoutGap="10px">
    <a
     mat-flat-button
     color="primary"
     routerLink="/home">Home</a>
    <a
     mat-flat-button
     color="primary"
     routerLink="/login">Login</a>
    <a
     mat-flat-button
     color="primary"
     routerLink="/register">Register</a>
    <a
     mat-flat-button
     color="primary"
     routerLink="/game">Game</a>
     <a
     mat-flat-button
     color="primary"
     routerLink="/leaderboard">Leaderboard</a>
  </div>
</mat-toolbar>