@import '~@angular/material/theming';

@include mat-core();

$cq-primary: mat-palette($mat-green, 700, 800, 600);
$cq-accent: mat-palette($mat-grey);
$cq-warn: mat-palette($mat-red);

$cq-theme: mat-light-theme($cq-primary, $cq-accent, $cq-warn);

@include angular-material-theme($cq-theme);