/* You can add global styles to this file, and also import other style files */

/* Remove margin and padding from body */
body { margin: 0; padding: 0; }

* {
    font-family: 'Heebo', sans-serif;
}

/* Apply padding to router-outlet element to create spacing between content and navigation */
.router-container {
    padding: 20px 10px;
}