<section
 fxLayout="row"
 fxLayoutAlign="space-evenly"
 fxLayoutGap="20px"
 
 fxLayout.lt-md="column">
    <mat-card fxFlex="grow">
        <mat-card-title-group>
            <mat-card-title>Welcome to Code-Quest!</mat-card-title>
        </mat-card-title-group>
        <mat-card-content>
            <p>An easy-to-learn, and play, game that helps teach the basics on what it means to program a computer.</p>
        </mat-card-content>
    </mat-card>
    <mat-card fxFlex="grow">
        <mat-card-title-group>
            <mat-card-title>Login or Register an Account</mat-card-title>
        </mat-card-title-group>
    </mat-card>
</section>